@model IEnumerable<AgendaMedica.Models.Agenda>

@{
	ViewData["Title"] = "Agendamentos";
}

<div class="container text-dark mt-5">
	<h1 class="text-center display-5 ">Veja todos os <span class="fw-bold">Agendamentos</span></h1>

	<p>
		<a asp-action="Create" class="btn btn-outline-dark w-25"> <i class="bi bi-plus-circle"></i>Médicos</a>
	</p>
	<table class="table table-light table-striped table-borderless">
		<thead>
			<tr>
				<th class="bg-primary">
					@Html.DisplayNameFor(model => model.Paciente)
				</th>
				<th class="bg-primary">
					@Html.DisplayNameFor(model => model.Medico)
				</th>
				<th class="bg-primary">
					@Html.DisplayNameFor(model => model.DataConsulta)
				</th>
				<th class="bg-primary">
					@Html.DisplayNameFor(model => model.Status)
				</th>
				<th class="bg-primary">Ações</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model)
			{
				<tr>
					<td>
						@Html.DisplayFor(modelItem => item.Paciente.Nome)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Medico.Nome)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.DataConsulta)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Status)
					</td>
					<td>
						<a class="btn btn-primary btn-sm" asp-action="Edit" asp-route-id="@item.MedicoId"> <i class="bi bi-pencil"></i>Editar</a>
						<a class="btn btn-danger btn-sm" asp-action="Delete" asp-route-id="@item.MedicoId"> <i class="bi bi-trash2"></i>Deletar</a>
					</td>
				</tr>
			}
		</tbody>
	</table>
</div>